
.btn {
    width: 30dvw;
}

form {
    margin: 20px;
    padding: 10px;
    background-color: white;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.cnaes-list {
    height: 30dvh;
    overflow-y: scroll;
}